* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container1,
.container2 {
  
  max-width: 1800px;
  margin: 0 auto;
}
.container1,
.container2 {
  height: 100%;
}
.header {
  height: 150px;
  width: 100%;
  margin: 0 0 5px 0;
  font-size: 40px;
  color: #144e9d;
  display: flex;
  /*align-items: flex-end;*/
}
.header img {
  height: 100%;
  padding-left: 30px;
  margin-right: 20px;
}
.header-text {
  padding-top: 30px;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
}
nav {
  background: linear-gradient( #4d74ac, #144e9d);
  color: white;
  font-size: 25px;
  padding: 10px 50px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 10%);
  grid-column-gap: 50px;
  font-family: "Source Sans Pro", sans-serif;
}
nav p {
  color: #999;
}
nav a {
  text-decoration: none;
  color: white;
}

.name {
  font-size: 50px;
  border-bottom: 5px solid  rgba(0, 0, 0, 0.5);
  padding-left: 25px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
/* .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 3px;
  grid-row-gap: 10px;
} */
.cont1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container_rezume {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4%;
}
.grid-container div,
.grid_container_rezume div {
  text-align: center;
  width: 100%;
}
.grid-container > div {
  border: 1px solid black;
}
.map {
  width: 100%;
}
.avatarka {
  width: 450px;
  height:560px;
  border: 5px gray;
  margin-left: 150px;
}
.rezume {
  width: 100%;
  padding-right: 30px;
  font-family: "Source Sans Pro", sans-serif;
}
.rezume h2 {
  text-align: center;
  color: #144e9d;
  border-bottom: 2px dashed black;
  margin-bottom: 25px;
  font-family: "Caveat", cursive, Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.tab1 {
  width: 100%;
}
.lefttab {
  font-weight: bold;
  text-align: right;
  padding: 10px 10px 10px 0;
  width: 50%;
  vertical-align: top;
}

.righttab {
  text-align: left;
  padding: 10px 0 10px 10px;
  width: 50%;
  vertical-align: top;
}

cite {
  margin-left: 165px;
}
footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 10px 0;
  font-family: "Source Sans Pro", sans-serif;
}

.icon {
  width: 50px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 20px;
  opacity: 0.7;
  transition: opacity 0.5s ease 0.2s;
}
.icon:hover,
.icon:focus {
  opacity: 1;
}
.data{
  padding-right: 20px;
}

/*second page*/

.knopki {
  width: 100%;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
.knopki a {
  width: 100%;
}

/*Формы*/
fieldset {
  text-align: left;
  margin-bottom: 15px;
  padding: 10px 3%;
  max-width: 100%;
  border: 1px solid black;
}

.main {
  margin: 10px auto;
  max-width: 320px;
  padding: 0 5px;
}

legend {
  font-weight: bold;
}

label {
  margin: 0 6px;
}

input[type="text"]:focus {
  background: #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="number"]:focus {
  background: #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  width: 200px;
  border: 0.5px solid black;
  outline: none;
}

.list {
  height: 40px;
  border: 0.5px solid black;
}

select {
  width: 200px;
  border: 0.5px solid black;
}

input[type="checkbox"] {
  width: 20px;
}

input[type="submit"],
input[type="reset"] {
  width: 70px;
  border: 0.5px solid black;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(120deg, #144e9d, #FFF);
  border-radius: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  color: #fff;
}

input [type="radio"] {
  width: 10px;
}

input[type="number"] {
  width: 40px;
  outline: none;
  border: 0.5px solid black;
}
.buttons {
  text-align: center;
  height: 30px;
  width: 100%;
  padding: 0 0;
}

.button1 {
  margin-left: 2px;
}

fieldset img {
  height: 100px;
  margin-left: 25%;
}


/*map*/
.container {
	width: 50%;	
	margin: 0 auto;
}
.riga {
	text-align: center;
}
.text {
	margin-left: 40px;
}.home {
	text-align: center;	
}
.home a {
	text-decoration: none;
	color: #000	;
}
.home a:hover {
	border-bottom: 1px solid #000;
}

.v_content{
  display: flex;
-ms-flex-align: center;
}

/*Кнопки*/
a.foo,
a.foo1,
a.foo2 {
  padding: 10px 0;
  background: #9c3;
  text-decoration: none;
  color: #fff;

  height: 50px;
  display: block;
  box-sizing: border-box;
  font-size: 25px;
  margin: 0;
  /* Полный набор команд
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0.5s; */
  /* -webkit-transition: background 0.3s ease 0.5s;*/ /*Краткая форма*/
}

a.foo:hover,
a.foo:focus {
  background: #690;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  /*-webkit-transition: background 0.3s ease 0.5s;
        -moz-transition: background 0.3s ease 0.5s;
        -o-transition: background 0.3s ease 0.5s;*/
  transition: background 0.3s ease 0.5s; /*Кроссбраузерность*/
}

a.foo1:hover,
a.foo1:focus,
a.foo2:hover,
a.foo2:focus {
  color: #030;
  background: #690;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.3s ease, color 0.2s linear;
  -moz-transition: background 0.3s ease, color 0.2s linear;
  -o-transition: background 0.3s ease, color 0.2s linear;
  transition: background 0.3s ease, color 0.2s linear;
}

a.foo2:hover,
a.foo2:focus {
  -webkit-transition: –webkit-transform 0.2s ease-in-out;
  -moz-transition: –moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

ul.buttons li {
  margin: 20px 10px;
  list-style: none;
  display: inline-block;
}
/*Повороты*/
ul.gallery li,
ul.gallery2 li,
ul.gallery1 li {
  padding: 10px;
  margin: 20px 10px;
  border: 1px solid #000;
  list-style: none;
  display: inline-block;
  height: 100%;
}
ul.gallery li a img,
ul.gallery2 li a img,
ul.gallery1 li a img {
  width: 200px;
}

ul.gallery li a:hover img,
ul.gallery1 li a:hover img,
ul.gallery2 li a:hover img {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -moz-transition: –moz-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
ul.gallery li a:hover img {
  -webkit-transform: scale(1.5) rotate(-10deg);
  -moz-transform: scale(1.5) rotate(-10deg);
  -o-transform: scale(1.5) rotate(-10deg);
  transform: scale(1.5) rotate(-10deg);
}
ul.gallery1 li a:hover img {
  -webkit-transform: scale(1.5) skew(-5deg, 30deg);
  -o-transform: scale(1.5) skew(-5deg, 30deg);
  transform: scale(1.5) skew(-5deg, 30deg);
}
ul.gallery2 li a:hover img {
  -webkit-transform: scale(1.5) translate(20px, 40px);
  -moz-transform: scale(1.5) translate(20px, 40px);
  -o-transform: scale(1.5) translate(20px, 40px);
  transform: scale(1.5) translate(20px, 40px);
}
.zad2 {
  width: 900px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
.zad2 h2 {
  text-align: center;
}
.video_content {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #202c3c;
}
video {
  max-width: 100%;
  outline: none;
}
video::-webkit-media-controls {
  display: none;
}
.control_panel {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.volume {
  display: flex;
  align-items: center;
}
.pause {
  margin-right: 10%;
  display: inline-block;
}

.timer {
  display: flex;
  align-items: center;
}
#timer {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}
.rangeTime {
  width: 100%;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 6px;
  background: #4d74ac;
  outline: none;
  opacity: 0.7;
}
.rangeTime::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #144e9d;
  cursor: pointer;
}

#slower,
#faster {
  height: 25px;
  width: 100px;
  border-radius: 20px;
  border: 0;
  background: #4d74ac;
  outline: none;
}
.volume_set {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 6px;
  background: #4d74ac;
  outline: none;
  opacity: 0.7;
}
.volume_set::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #144e9d;
  cursor: pointer;
}
audio {
  outline: none;
  width: 90%;
  max-width: 1000px;
}
h2 {
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 1600px) and (min-width: 1350px) {
  a.foo,
  a.foo1,
  a.foo2 {
    height: 50px;
    font-size: 20px;
  }
  ul.gallery li a img,
  ul.gallery2 li a img,
  ul.gallery1 li a img {
    width: 150px;
  }
}
@media screen and (max-width: 1350px) and (min-width: 1250px) {
  a.foo,
  a.foo1,
  a.foo2 {
    height: 50px;
    font-size: 20px;
  }

  ul.gallery li a img,
  ul.gallery2 li a img,
  ul.gallery1 li a img {
    width: 120px;
  }
}
@media screen and (max-width: 1250px) and (min-width: 1000px) {
  .tab1 {
    width: 100%;
    font-size: 13px;
  }
  .rezume h2 {
    font-size: 30px;
    margin-bottom: 2px;
  }
  .knopki {
    grid-column-gap: 20px;
  }
  a.foo,
  a.foo1,
  a.foo2 {
    height: 50px;
    font-size: 20px;
  }

  ul.gallery li a img,
  ul.gallery2 li a img,
  ul.gallery1 li a img {
    width: 95px;
  }
  .pause img {
    height: 35px;
  }
  .volume_set {
    width: 60px;
    height: 7px;
  }
  .control_panel img {
    height: 35px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
  }
  nav a,
  nav p {
    margin: 0 auto;
  }
  .grid-container,
  .grid-container_rezume {
    grid-template-columns: repeat(1, 100%);
  }
  .grid-container_rezume {
    grid-row-gap: 30px;
  }

  .header-text p,
  .name {
    font-size: 30px;
  }

  ul.gallery li a img,
  ul.gallery2 li a img,
  ul.gallery1 li a img {
    width: 90px;
  }
}

@media screen and (max-width: 700px) and (min-width: 400px) {
  nav {
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
  }
  nav a,
  nav p {
    margin: 0 auto;
  }
  .grid-container,
  .grid-container_rezume {
    grid-template-columns: repeat(1, 100%);
  }
  .grid-container_rezume {
    grid-row-gap: 30px;
  }

  .header {
    height: 70px;
  }
  .header-text p {
    font-size: 15px;
  }
  .name {
    font-size: 25px;
  }
  .rezume h2 {
    font-size: 30px;
  }
  .tab1 {
    width: 100%;
    font-size: 13px;
  }
  cite {
    margin-left: 50px;
  }

  a.foo,
  a.foo1,
  a.foo2 {
    height: 40px;
    font-size: 15px;
  }
  .knopki {
    grid-column-gap: 10px;
  }
  ul.gallery li a img,
  ul.gallery2 li a img,
  ul.gallery1 li a img {
    width: 70px;
  }
  ul.gallery li,
  ul.gallery2 li,
  ul.gallery1 li {
    padding: 3px;
  }

  fieldset {
    margin-bottom: 15px;
    padding: 10px 3%;
    max-width: 100%;
    border: 1px solid black;
  }

  .main {
    margin: 10px auto;
    max-width: 320px;
    padding: 0 5px;
  }

  legend {
    font-weight: bold;
  }

  label {
    margin: 0 6px;
  }

  input[type="text"]:focus {
    background: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  input[type="number"]:focus {
    background: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  input[type="text"] {
    width: 60%;
    border: 0.5px solid black;
    outline: none;
  }

  .list {
    height: 40px;
    border: 0.5px solid black;
  }

  select {
    width: 100%;
    border: 0.5px solid black;
  }

  input[type="checkbox"] {
    width: 20px;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 40px;
    font-size: 7px;
    border: 0.5px solid black;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #b9deed, #efefef);
    border-radius: 10px;
  }

  input[type="submit"]:hover,
  input[type="reset"]:hover {
    color: #fff;
  }

  .zad2 {
    margin-bottom: 150px;
  }

  input [type="radio"] {
    width: 10px;
  }

  input[type="number"] {
    width: 40px;
    outline: none;
    border: 0.5px solid black;
  }

  .buttons {
    text-align: center;
    height: 30px;
    width: 100%;
    padding: 0 0;
  }

  .button1 {
    margin-left: 2px;
  }

  fieldset img {
    height: 50px;
    margin-left: 15%;
  }
  .pause img {
    height: 25px;
  }
  .volume_set {
    width: 40px;
    height: 7px;
  }
  .volume_set::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
  }
  .control_panel img {
    height: 25px;
  }
  #timer {
    font-size: 15px;
  }
  .rangeTime {
    width: 100%;
    height: 7px;
  }
  .rangeTime::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  #slower,
  #faster {
    height: 15px;
    width: 70px;
    font-size: 10px;
  }
  #playbackRate {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) and (min-width: 320px) {
  nav {
    grid-template-columns: repeat(1, 1fr);
  }
  nav a,
  nav p {
    margin: 0 auto;
  }
  .header {
    height: 100px;
  }

  .header-text p {
    font-size: 15px;
  }
  .name {
    font-size: 20px;
  }
  .rezume h2 {
    font-size: 30px;
  }
  .tab1 {
    width: 100%;
    font-size: 11px;
  }
  cite {
    margin-left: 50px;
  }

  a.foo,
  a.foo1,
  a.foo2 {
    height: 30px;
    font-size: 15px;
  }
  .knopki {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 5px;
  }
  .knopki a {
    width: 50%;
    margin: 0 auto;
  }
  ul.gallery li a img,
  ul.gallery2 li a img,
  ul.gallery1 li a img {
    width: 45px;
  }
  ul.gallery li,
  ul.gallery2 li,
  ul.gallery1 li {
    padding: 3px;
  }
  .grid-container,
  .grid-container_rezume {
    grid-template-columns: repeat(1, 100%);
  }
  .grid-container_rezume {
    grid-row-gap: 30px;
  }

  fieldset {
    margin-bottom: 15px;
    padding: 10px 3%;
    max-width: 100%;
    border: 1px solid black;
  }

  input[type="text"] {
    width: 60%;
    border: 0.5px solid black;
    outline: none;
  }
  select {
    width: 100%;
    border: 0.5px solid black;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 40px;
    font-size: 7px;
    border: 0.5px solid black;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #b9deed, #efefef);
    border-radius: 10px;
  }

  .buttons {
    text-align: center;
    height: 30px;
    width: 100%;
    padding: 0 0;
  }

  fieldset img {
    height: 50px;
    margin-left: 15%;
  }

  .pause img {
    height: 23px;
  }
  .volume_set {
    width: 40px;
    height: 7px;
  }
  .volume_set::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
  }
  .control_panel img {
    height: 23px;
  }
  #timer {
    font-size: 15px;
  }
  .rangeTime {
    width: 100%;
    height: 7px;
  }
  .rangeTime::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  #slower,
  #faster {
    height: 15px;
    width: 70px;
    font-size: 10px;
  }
  #playbackRate {
    font-size: 10px;
  }
}
body {
  font-family: Arial;
}
#container {
   margin: auto auto;
   width: 80%;
   padding-top: 10px;
   padding-bottom: 40px;

}
.area{
   padding-top: 10px;
 margin: auto auto;
   width: 80%;
   text-align: center;

}
#container h1 {
 text-align: center;
}
#container img {
   display: block;
   margin: auto auto;
}
p.footer{
   margin-top: -20px;
   text-align: center;
   font-size: 20px;
   margin-bottom: 50px;
}
p.footer a{
   color: black;
   text-decoration: underline;
}

table {
   border-spacing: 0;
   margin-left: 220px;
   margin-right: 50px;
}
table caption {
 text-align: left;

}
table td {
   padding: 0px 25px 5px 0px;
   font-size: 17px;
   vertical-align: top;
   text-align: left;
}
button a {
 color: #000000;
 text-decoration: none;
   background-color: #E6E6FA;
}
button a:hover {
 text-decoration: underline;
}
p{
   text-align: justify;
   padding-right: 40px;
   padding-left: 40px;
   font-size: 20px;
   padding-top: 20px;
}
.image{
   text-align: center;
}
.imageMain{
   padding-top: 20px;
}
h3{
   font-size: 22px;
}

