.body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a,
u {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 5% 5% 5%;
  border-style: solid;
  border-width: 0.5px;
  box-shadow: 0 0 1px 1px;
}

.box1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  color: #ffffff;
  background-color: #37363b;
  /* flex-basis: 30%; */
  padding: 3%;
}
.box11image {
  padding: 13%;
}
.imm {
  width: 100%;
}
.box111 {
  font-size: 25px;
  margin: 20% 0% 10% 5%;
  border-top: 1px solid #ccc;
}
.box2 {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 60%;
  /* margin: 2%; */
  color: #000000;
  /* flex-basis: 50%; */
  background-color: #fff;
  /* /align-items: stretch; */
  font-size: 110%;
}
.box21h {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.box211h {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 150%;
  margin: 20%;
}
.box112 {
  margin: 4%;
}
.box21 {
  display: flex;
}
.box21a {
  margin: 2%;
}
.box211a {
  background-color: #37363b;
  color: #fff;
  padding: 2%;
  margin: 1%;
}
.box212 {
  width: 50%;
  margin: 2%;
}
.box212m {
  width: 50%;
  margin: 2%;
}
.box212p {
  width: 50%;
  margin: 2%;
}
.box212h {
  margin: 0 5% 5% 5%;
}
.box21proba {
  display: flex;
  width: 50%;
  margin: 2%;
  position: relative;
}
.a123 {
  text-decoration: none;
}
.box21hproba {
  display: flex;
}
.box2122 {
  /*   width: 25%; */
  margin: 2%;
}
.a1234 {
  position: absolute;
  opacity: 0;
  width: 100%;
  /* transition: 0.2s ease-in-out; */
  visibility: hidden;
}
.box21hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container {
  width: 100%; /* Полная ширина */
  background-color: #37363b; /* Серый фон */
  margin: 10%;
}

.skills {
  text-align: right; /* Выравнивание текста по правому краю */
  padding-top: 1px; /* Добавить верхний отступ */
  padding-bottom: 1px; /* Добавить нижний отступ */
  color: white; /* Белый цвет текста */
  margin: 2%;
}
.box112 {
  font-size: 100%;
}
.popup {
  position: absolute;
  width: 30px;
  height: 30px;
}
.html {
  width: 80%;
  height: 2px;
  background-color: #000000;
} /* Зеленый */
.css {
  width: 70%;
  height: 2px;
  background-color: #000000;
} /* Синий */
.js {
  width: 50%;
  height: 2px;
  background-color: #000000;
} /* Красный */
.php {
  width: 30%;
  height: 2px;
  background-color: #000000;
} /* Темно-серый */
