



.first {
	text-align: center;

}


.all1 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}



.all2 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}



.all3 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}


.all4 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}


.all5 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}


.all6 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}


.all7 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}


.all8 {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
}